{:kotoba.app/id "cloud.itonami.isic-854", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigdiuaoswbbygwkw5v7dvg5hsz7mliwy6xw4qml43bwjftzp7vqwi", :kotoba.app/embed-url "ipfs://bafkreigdiuaoswbbygwkw5v7dvg5hsz7mliwy6xw4qml43bwjftzp7vqwi", :published {:archive "https://kotobase.net/ipfs/bafkreigdiuaoswbbygwkw5v7dvg5hsz7mliwy6xw4qml43bwjftzp7vqwi", :size 72106, :put-status 201, :get-status 200, :at "2026-08-15T13:43:47.672Z"}}
